@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Young+Serif&display=swap');
.root{
    -fx-font-size: 20px;
    -fx-background-image: url("images/background-image.jpg");
    -fx-background-size: cover;
}
.label{
    -fx-text-fill: #0e0e0e;
}

.button{
    -fx-font-family: 'Young Serif', serif;
    -fx-border-radius: 10pt;
    -fx-background-radius: 10pt;
}
.axis{
    -fx-font-family: 'Young Serif', serif;
}
.axis-label{
    -fx-text-fill: #E21B1B;
    -fx-font-size: 25px;
}
#chartView{
    -fx-background-image: url("images/chart-backgound-img.jpg");
    -fx-background-size: cover;
}
#titleLabel{
    -fx-font-family: 'Young Serif', serif;
    -fx-font-size: 35px;
}
#titleLabel2{
    -fx-text-fill: #E21B1B;
    -fx-font-family: 'Young Serif', serif;
    -fx-font-size: 35px;
}
#titleAxis, #numAxis{
    -fx-tick-label-fill: #E21B1B;
}

